Social_Media_Post_Status_Updater/workflow.json
{
  "updatedAt": "2025-11-03T16:05:43.000Z",
  "createdAt": "2025-11-03T12:51:45.740Z",
  "id": "cscJd973XnnUOjB6",
  "name": "extra socila media post update",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Merge1').item.json.meta.page_id }}_{{ $('Merge1').item.json.social_id }}?access_token={{ $json.access_token }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"message\": \"{{ $('Merge1').item.json.topic }}\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -160
      ],
      "id": "bc21b7f5-df15-4eb4-b56e-52551a9de0e2",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "editpost",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        -64
      ],
      "id": "6a29f753-8b3c-43bb-a026-17b0fc5e085b",
      "name": "Webhook4",
      "webhookId": "d9a1657b-e3d1-42a9-9f1a-f070b7fd3c0e"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "social_accounts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.socialAccountId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -448,
        -160
      ],
      "id": "cd6c61b8-16fe-4832-a084-07a24617a387",
      "name": "Get a row4",
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "content_calendar",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.postId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -448,
        32
      ],
      "id": "ccc806ea-501d-42bb-ad24-bf690520bd77",
      "name": "Get a row5",
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -224,
        -64
      ],
      "id": "18b38634-0928-4160-86cb-c9b3fdd8a33f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.meta.page_id }}?fields=access_token&access_token={{ $json.auth.access_token }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -160
      ],
      "id": "3e39ebb4-f7da-4b6e-9e6d-d9ac3575969d",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.social_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.auth.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "=hi this is my name how are you {{ $json.description }}"
            },
            {
              "name": "comment_enabled",
              "value": "=true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        32
      ],
      "id": "810b081f-8ccb-45b0-abd3-72e4e5b37a69",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.provider }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "04fe9793-c5db-44ee-98ee-f451bc274312"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da212557-85b6-42c3-9d03-f1a55d0bd9da",
                    "leftValue": "={{ $json.provider }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        0,
        -64
      ],
      "id": "59b8094b-769d-4ef8-afa1-96a57625bd9e",
      "name": "Switch2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        -160
      ],
      "id": "49356303-74fb-4e9e-8e7f-eb03b77201b8",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook4": {
      "main": [
        [
          {
            "node": "Get a row4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a row5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": null,
  "triggerCount": 1,
  "tags": []
}