PA_Email_Drafter_and_WhatsApp_Responder/workflow.json
{
  "updatedAt": "2025-12-09T07:09:31.000Z",
  "createdAt": "2025-11-24T11:24:05.982Z",
  "id": "h6jj9lXH9ffJVnsu",
  "name": "PA Emails",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pa-email",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1856,
        480
      ],
      "id": "b013e8fe-7613-42d7-bd3b-67160cd197bd",
      "name": "Webhook1",
      "webhookId": "af341349-8cd3-4761-8418-8c4142bb13e1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=id: {{ $json.id }}\n\nemail_account_id: {{ $json.email_account_id }}\n\nprovider_message_id: {{ $json.provider_message_id }}\n\nthread_id: {{ $json.thread_id }}\n\nsender_email: {{ $json.sender_email }}\n\nsender_name: {{ $json.sender_name }}\n\nrecipient_email: {{ $json.recipient_email }}\n\nsubject: {{ $json.subject }}\n\nBody_text : {{ $json.body_text }}\n\nBody Html : {{ $json.body_html }}\n\nis_read: {{ $json.is_read }}\n\nis_starred: {{ $json.is_starred }}\n\nemail_type: {{ $json.email_type }}\n\nreceived_at: {{ $json.received_at }}\n\ncreated_at: {{ $json.created_at }}\n\nupdated_at: {{ $json.updated_at }}\n\nuid: {{ $json.uid }}\n\nfolder_name: {{ $json.folder_name }}\n\nis_deleted: {{ $json.is_deleted }}\n\nattachments_count: {{ $json.attachments_count }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You will receive an email with the following details:\n\nid: {{ $json.id }}\nemail_account_id: {{ $json.email_account_id }}\nprovider_message_id: {{ $json.provider_message_id }}\nthread_id: {{ $json.thread_id }}\nsender_email: {{ $json.sender_email }}\nsender_name: {{ $json.sender_name }}\nrecipient_email: {{ $json.recipient_email }}\nsubject: {{ $json.subject }}\nbody_text: {{ $json.body_text }}\nbody_html: {{ $json.body_html }}\nis_read: {{ $json.is_read }}\nis_starred: {{ $json.is_starred }}\nemail_type: {{ $json.email_type }}\nreceived_at: {{ $json.received_at }}\ncreated_at: {{ $json.created_at }}\nupdated_at: {{ $json.updated_at }}\nuid: {{ $json.uid }}\nfolder_name: {{ $json.folder_name }}\nis_deleted: {{ $json.is_deleted }}\nattachments_count: {{ $json.attachments_count }}\n\n\nTasks:\n\nImportance: Assess how urgent or important this email is (High / Medium / Low) and briefly explain why.\n\nShort Summary: Provide a concise summary of the email in 2–3 sentences.\n\nSuggested Reply: Draft a polite, professional, and concise reply to this email, assuming the recipient wants to acknowledge it and/or respond appropriately.\n\nInstructions:\n\nFocus on clarity and brevity.\n\nKeep the suggested reply actionable and friendly.\n\nIf the email contains meeting details, clearly mention them in the summary and suggested reply.\n\nOutput format (JSON preferred):\n\n{\n  \"importance\": \"High / Medium / Low\",\n  \"summary\": \"Short summary of the email.\",\n  \"suggested_reply\": \"Drafted reply message.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1360,
        480
      ],
      "id": "7b63c462-38f4-42e9-a8c9-262388422ee7",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"importance\": \"High / Medium / Low\",\n  \"summary\": \"Short summary of the email.\",\n  \"suggested_reply\": \"Drafted reply message.\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1152,
        704
      ],
      "id": "f127b708-fc14-438c-b705-2f99dc10b406",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1408,
        704
      ],
      "id": "d0fcf6c9-3c33-4d63-a1d6-66761cb2a255",
      "name": "OpenAI Chat Model1",
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9f9d61f6-9fd0-4451-9d44-ebb81b75f82e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e8ef1e3f-949c-48ed-a36a-f3840c668b08",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        272,
        480
      ],
      "id": "b8da1209-9a96-4ac7-a9f6-ab99b0a1cad7",
      "name": "Switch1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        496,
        384
      ],
      "id": "3a2cbca5-204a-4bf6-990a-6342b29f29d7",
      "name": "Send a message1",
      "webhookId": "7fa0b8a0-73f8-44e4-b4a2-c5455978f6af",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "draft",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        496,
        576
      ],
      "id": "ea82b0a0-9ca2-4994-9cee-7e9da7ad1a94",
      "name": "Create a draft1",
      "webhookId": "0a50661f-1941-4a5a-9be8-f23f4b98038d",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "emails",
        "filters": {
          "conditions": [
            {
              "keyName": "uid",
              "keyValue": "={{ $json.body.email.uid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1632,
        480
      ],
      "id": "26c1c2b6-a60b-4892-9968-6810cf2516ac",
      "name": "Get a row",
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pa.duhanashrah.ai/api/webhooks/send-message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.id }}",
        "options": {}
      },
      "id": "800f6a96-984a-4c44-8fa0-5f7d84354df2",
      "name": "Send Response via WhatsApp1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        480
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.body.record.thread_id ",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1280,
        704
      ],
      "id": "5f43bed6-7fd8-4669-a7fd-787937847d1b",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "emails",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get a row').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email Importance",
              "fieldValue": "={{ $json.output.importance }}"
            },
            {
              "fieldId": "email summary",
              "fieldValue": "={{ $json.output.summary }}"
            },
            {
              "fieldId": "email suggested reply",
              "fieldValue": "={{ $json.output.suggested_reply }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1008,
        480
      ],
      "id": "bb6efba4-5a12-4d34-a0b6-7529899b4abf",
      "name": "Update a row",
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "agents",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -560,
        480
      ],
      "id": "84203faa-78ab-4be5-b539-f378ee0a8698",
      "name": "Get a row1",
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "email_accounts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.email_account_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -800,
        480
      ],
      "id": "18bfabdb-3a1d-4e6c-a025-afe378848c50",
      "name": "Get a row2",
      "credentials": "[REDACTED]"
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": "[REDACTED]",
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Response via WhatsApp1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        []
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Get a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Send Response via WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row2": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-10-15T12:01:49.775Z",
      "createdAt": "2025-10-15T12:01:49.775Z",
      "id": "vqPjQ1pPoVp3pFKR",
      "name": "Mark Edward"
    }
  ]
}