RAG_Agent_Postgres_Memory_Qdrant/workflow.json
{
  "updatedAt": "2026-02-20T19:17:41.847Z",
  "createdAt": "2026-02-20T18:44:13.463Z",
  "id": "OKcSJ20eALfPix56",
  "name": "My workflow 15",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": "[REDACTED]",
        "options": {}
      },
      "id": "430a691c-041b-4c4e-8f21-5de289cb23aa",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        -1168,
        -32
      ],
      "typeVersion": 1.2,
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "b2aaf918-4c3c-4857-8e20-8ee5c8d2b907",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -1200,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "6df8bf93-ab0d-4fd3-a591-d1a2403a007f",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -1200,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "retriever",
        "toolDescription": "Retrieve data from a semantic database to answer questions",
        "qdrantCollection": "[REDACTED]",
        "options": {}
      },
      "id": "2004d822-6ad6-4201-8fde-da0faf9a78be",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        608,
        256
      ],
      "typeVersion": 1.2,
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        528
      ],
      "id": "fba491fb-8e93-4989-a131-508f3ec97afa",
      "name": "Embeddings OpenAI",
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1168,
        176
      ],
      "id": "be7910df-d256-41b2-a752-16e34170ac3c",
      "name": "Embeddings OpenAI1",
      "credentials": "[REDACTED]"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1552,
        -32
      ],
      "id": "0ca25694-a5a9-4d18-bdf9-a7753d537bea",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7c61b8b-43a9-4afd-9ed2-7f38bedd29b6",
              "name": "Output",
              "value": "Genei: AI Calling Agent Operational Documentation 1. Executive Summary Genei is an autonomous, intelligent voice assistant developed by Duha Nashrah AI (DNAI). Defined as a \"digital employee\" rather than a standard chatbot, Genei acts as a 24/7 automated voice team designed to capture, qualify, and manage leads. Its primary objective is to transition business operations from the \"hardship\" of missed opportunities to the \"ease\" of automated asset management. 2. Core System Capabilities Genei is engineered to handle complex voice interactions that traditionally require human intervention. 24/7 Lead Capture & Support: Genei operates continuously to ensure zero missed calls. It captures every lead and provides client support—answering common questions and ensuring clients feel valued—regardless of the time of day. Intelligent Lead Qualification: Unlike generic chatbots, Genei engages in real-time, human-like voice conversations. It is capable of asking specific qualifying questions to filter out non-serious inquiries and manage leads from start to close. Automated Appointment Scheduling: The agent eliminates manual scheduling friction. It integrates directly with business timetables to schedule and reschedule appointments, ensuring full synchronization with existing systems. CRM Integration: Genei offers smooth integration with Customer Relationship Management (CRM) systems. It automatically updates customer records, logs call summaries, and initiates follow-up tasks, providing a comprehensive view of every interaction. 3. Platform Navigation & User Interface The Genei application is structured around three primary navigational pillars designed to give users full control over agent creation, call execution, and lead management. 3.1 Agent Management Dashboard (\"Genei\" Page) This is the command center for configuring and managing your AI workforce. It consists of three tabs: My Agents: Displays a comprehensive list of all agents currently deployed. Users can click on any individual agent to view detailed specifications, make updates, or modify configurations. Contact List: A dedicated area for data management where users can upload and organize lists of contacts to be used for bulk calling campaigns. Create Agent: A self-service interface allowing users to build and customize their own AI agent. The following fields are required for configuration: Identity: Agent Name, Company Name, and Website URL. Strategic Core: Goals and Context (defining what the agent aims to achieve). Dialogue Configuration: Welcome Message: (e.g., \"Hello! How can I help you today?\") Instruction Voice: Guidance on specific phrasing or delivery style. Script: The core conversation flow the agent will follow. Voice & Persona: Selection of specific Voice, Language, Agent Type, and Tone to match the brand identity. 3.2 Call Operations Center (\"Calls\" Page) This page manages the execution and monitoring of all voice interactions. It is divided into five functional tabs: Call Stats: A dashboard providing high-level analytics, including total calls processed, calls remaining, and other relevant performance metrics. Immediate: Facilitates instant call execution. Users select an agent and choose between two modes: Single Call: Requires manual entry of a Name and Phone Number. Contact List Call: Allows selection of a pre-uploaded list for immediate bulk dialing. Schedule: Enables the planning of future campaigns. Users must select an Agent, a Contact List, and a specific Time to automatically deploy the calls. Ongoing: A real-time monitoring tab displaying calls that are currently active. Logs: An archival tab containing the comprehensive history of all past calls for review and audit. 3.3 Lead Repository (\"Leads\" Page) This streamlined interface is dedicated to the output of your campaigns. It displays all qualified leads identified and captured during the calling sessions, allowing for easy review and follow-up. 4. Operational Workflow & Ecosystem Integration Genei functions as a critical component of the DNAI automation ecosystem, working in tandem with Beeba (Social Media Manager) to create a seamless sales funnel. Lead Generation Trigger: When Beeba generates a lead via social media (e.g., from a boosted post or ad), the system instantly engages. Immediate Qualification: This action triggers Genei to proactively call the lead for qualification purposes. Omnichannel Follow-up: Following the voice interaction, the system executes automated follow-ups via AI-generated emails and WhatsApp messages to nurture the lead. 5. Implementation & Configuration While the platform offers self-service tools for agent creation, DNAI supports a consultative \"white-glove\" approach for optimal results. Discovery Strategy: A consultation meeting to discuss specific business goals, call volumes, and CRM infrastructure. Custom Build & Training: DNAI engineers can custom-configure the agent, training it on specific scripts and brand voice. Turn-Key Activation: The agent goes live and integrates into the client's workflow, delivering immediate results. 6. Technical & Privacy Specifications Voice Technology: Genei utilizes advanced audio synthesis to provide a human-like voice capable of real-time conversation. Data Governance: Data collected may include communication records, interaction logs, and analytics. DNAI adheres to strict privacy policies; users may request data deletion, which is processed within 30 days. Legal Entity: The services are operated by Niku Solution PTE LTD (Singapore) and are governed by the laws of Singapore. 7. Support & Maintenance Contact: For support or configuration adjustments, clients should contact info@duhanashrah.ai.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        -32
      ],
      "id": "798e2ebd-2fb0-43df-b7f7-318c6a625c69",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbound_chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        -80
      ],
      "id": "b918f5a9-ad42-4473-8f33-bdda04062a29",
      "name": "Webhook",
      "webhookId": "4d38c3b7-e9a7-4b33-8a99-06a3a132f331"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        -80
      ],
      "id": "9b37a467-0a98-45f2-b03b-83fbaccd73a2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a customer support AI assistant designed to help users by answering their questions strictly and exclusively using information retrieved from our Qdrant vector database. Your primary goal is to provide direct, helpful, and concise answers whenever relevant information exists in the database, while maintaining a polite, professional, and customer-first tone.\n\nCore Operating Rules\n\nUse Retrieved Information Only\n\nAnswer questions only using content retrieved from the Qdrant vector database. Never invent, assume, infer, or speculate beyond what is explicitly supported by retrieved data. Do not mention document names, file titles, internal references, or retrieval mechanics.\n\nAnswering User Questions\n\nWhen Relevant Information Is Available\n\nDirectly answer the user's question using the retrieved information in a brief, focused manner. Provide only the most essential information needed to answer the question. Avoid lengthy explanations unless specifically requested. Do not ask follow-up questions unless clarification is truly required. Simply present the answer confidently without mentioning that you found information.\n\nWhen Information Is Not Available\n\nIf the retrieved data does not contain enough information to answer the question, respond with:\n\nI'm sorry, but I don't currently have the information needed to answer your question. For more detailed assistance, please reach out to our support team at support@duhanashrah.ai.\n\nDo not guess or provide partial answers.\n\nGeneral Conversation Handling\n\nRespond naturally and professionally to greetings like Hi, Hello, How are you, or Thanks. Keep responses brief, warm, and customer-friendly. Do not retrieve database information for simple conversational inputs.\n\nPrivacy, Security and Compliance\n\nNever provide or disclose personal contact details, financial information, login credentials, internal systems details, or confidential business information.\n\nIf a user requests sensitive information, respond with:\n\nI'm unable to provide that type of information here. For assistance with account-specific or sensitive matters, please contact our support team at support@duhanashrah.ai.\n\nFormatting Guidelines - CRITICAL INSTRUCTION\n\nDO NOT USE any special formatting symbols including asterisks, hashtags, underscores, backticks, plus signs, hyphens for bullets, or any markdown symbols.\n\nONLY USE plain text paragraphs separated by blank lines, natural language to organize information, simple numbered lists (1. 2. 3.), and colons to introduce categories.\n\nKeep answers short and focused. Use 2 to 4 brief sentences for simple questions. Only provide detailed breakdowns when truly necessary.\n\nExample of Correct Brief Format:\n\nDuhaNashrah (DNAI) is an AI Automation Agency based in Dubai, founded in 2022. The company helps businesses solve repetitive operational challenges using practical AI solutions. For more information, contact info@duhanashrah.ai.\n\nTone and Communication Style\n\nBe polite, professional, clear, and concise. Stay customer-focused and trustworthy. Be confident when information exists, transparent when it does not. Keep responses brief and to the point.\n\nFinal Principle\n\nYour role is to be a reliable, retrieval-based customer support assistant. Provide brief, direct answers using plain text only when data supports it. If information is not available, escalate to support@duhanashrah.ai without hesitation. Accuracy and brevity always come first."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        192,
        -80
      ],
      "id": "222ab069-6101-4b77-a927-105552575cab",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -304,
        240
      ],
      "id": "a5feb4dc-ea4a-4a17-b607-1039efa5be9c",
      "name": "Postgres Chat Memory",
      "credentials": "[REDACTED]"
    }
  ],
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": "[REDACTED]",
    "Embeddings OpenAI": "[REDACTED]",
    "Embeddings OpenAI1": "[REDACTED]",
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "triggerCount": 1,
  "tags": []
}